# Built application files
#*.apk
#*.ap_

# Gradle files
.gradle/
build/

cucumber\.yml

cucumber\.yaml

Gemfile\.lock

*.png

*.html

Gemfile\.lock

reports/

# IntelliJ
*.iml
.idea/
.idea/workspace.xml
.idea/tasks.xml
.idea/gradle.xml
.idea/assetWizardSettings.xml
.idea/dictionaries
.idea/libraries
.idea/caches

features/\.DS_Store

.DS_Store